// Fonts type
$header: 'Big Shoulders Display', cursive;
$paragraph: 'Lexend Deca', sans-serif;
$font-size: 15px;

// Breakpoints
$mobile: 240px;
$smallTablet: 540px;
$desktop: 1440px;


// Colors
$brightOrange: #e38826;
$cyan: #006970;
$darkCyan: #004241;
$white: #fff;
$black: #000;
$lightGray: #f2f2f2;

