//Abstracts
@import "abstracts/abstrcts.scss";

//Base Styles
// @import "base/";

//Components
// @import "components/";

//Layout
// @import "layouts/";


html {
  box-sizing: border-box;
  font-size: $font-size;
}

body {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: $lightGray;
  font-family: $paragraph;
}

h1,
h2,
h3 {
  font-family: $header;
}

a {
  text-decoration: none;
}

// Card
.card-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.card {
  width: 100%;
  height: calc(100% / 3);

  &--orange {
    background-color: $brightOrange;
  }
  
}