//Abstracts
@import "./abstracts/abstracts";

//Base Styles
// @import "base/";

//Components
// @import "components/";

//Layout
// @import "layouts/";


:root {
  font-size: $font-size;
  line-height: 2rem;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  width: 100vw;
  background: $lightGray;
  font-family: $paragraph;
}

h1,
h2,
h3 {
  font-family: $header;
}

a {
  text-decoration: none;
}

// Card
.card-wrapper {
  display: flex;
  flex-direction: column;
  padding: 3rem 1.5rem;
}

.card {
  max-width: 270px;
  height: 360px;
  width: 100%;
  height: 100%;
  padding: 2rem;
  padding-bottom: 4rem;
  color: $white;

  &__header {
    margin: 2rem 0;
    font-size: 3rem;
    letter-spacing: .2rem;
    text-transform: uppercase;    
  }

  &__text {
    margin-right: 2.5rem;
    margin-bottom: 3rem;
    font-weight: 200;
  }

  &--orange {
    background: $brightOrange;
  }
  &--cyan {
    background: $cyan;
  }
  &--dark {
    background: $darkCyan;
  }
}

.card:nth-child(1){
  border-radius: 1rem 1rem 0 0;
}

.card:nth-child(3){
  border-radius: 0 0 1rem 1rem;
}

// Button
.btn {
  padding: 1rem 3rem;
  border-radius: 2rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.btn-white{
  background: $white;
}

.btn-white:hover{
  background: rgba(255, 255, 255, 0.651);
}

.text--orange{
  color: $brightOrange;
}

.text--cyan{
  color: $cyan;
}

.text--dark{
  color: $darkCyan;
}
